# -----------------------------
# R artifacts
# -----------------------------
.Rhistory
.RData
.Rproj.user/

# -----------------------------
# Data files / results
# -----------------------------
data/
*/results/
*.rds
*.RData
*.csv

# -----------------------------
# Notes folder ignored except for raw docs
# -----------------------------
# Ignore everything in notes/
notes/**

# Except .Rmd and .qmd files
!notes/**/*.Rmd
!notes/**/*.qmd

meetings_log/**
!meetings_log/**/*.qmd

# Rendered documents (optional)
*.html
*.pdf
*.docx

# -----------------------------
# Logs / temporary files
# -----------------------------
*.log
latex/build/
